.about {
  background-color: $_main_bg_color;
}
.about__title {
  width: 217px;
  height: 130px;
  background-image: url('../img/about/about-title.svg');
}
.about__icon {
  stroke-width: 2px;
  stroke: #111;
}
.about__text {
  font-size: 20px;
  margin-bottom: 24px;
}
.about__text-accent {
  color: $_accent_color;
}
.about__image {
  margin: 0 auto;
}

@include media(desktop) {
  .about__title {
    width: 328px;
    height: 225px;
  }
  .about__text {
    font-size: 28px;
  }
  .about__text-accent {
    font-size: 40px;
  }
}
