.benefits {
  padding: 24px 0;
  background-color: $_main_bg_color;
}

.benefits__title {
  margin: 0 auto;
  padding-top: 30px;
  width: 225px;
  height: 88px;
  margin-bottom: 24px;
  background-image: url('../img/benefits/benefits-title.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 225px 88px;
  text-align: center;
  font-weight: 400;
  font-size: 28px;
  line-height: 1;
}
.benefits__list {
  display: flex;
  gap: 6px;
}
.benefits__item {
  border-radius: 12px;
  padding: 4px;
  width: 82px;
  height: 101px;
  text-align: center;
  background-color: $_dark_color;
}
@media screen and (max-width: 1439.99px) {
  .benefits__item:nth-child(1) {
    width: 56px;
  }
  .benefits__item:nth-child(3) {
    width: 68px;
  }
  .benefits__icon {
    width: 36px;
  }
}
.benefits__text {
  font-size: 16px;
  color: $_light_color;
}

@include media(desktop) {
  .benefits {
    padding: 60px 0;
  }
  .benefits__title {
    padding-top: 48px;
    width: 330px;
    height: 145px;
    /*   margin-bottom: 48px; */
    margin-bottom: 93px;
    background-size: 330px 145px;
    font-size: 48px;
  }
  .benefits__list {
    gap: 48px;
  }
  .benefits__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 10px;
    width: 288px;
    height: 248px;
    margin-bottom: 60px;
  }

  .benefits__icon {
    width: 90px;
    height: 90px;
  }
  .benefits__text {
    font-size: 48px;
    line-height: 1.35;
  }
}
