.burger {
  position: fixed;
  left: 0;
  top: 0;

  width: 100vw;
  height: 100vh;

  z-index: 1000;

  background-color: rgba($color: #111111, $alpha: 0.5);

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.05s ease 0.25s;
  &.is-open {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.05s ease;
  }

  @include media(desktop) {
    display: none;
  }
}

.burger-wrapper {
  position: relative;

  padding: 26px 20px 10px;
  width: 320px;
  height: 100%;
  margin-left: auto;
  background-color: $_main_bg_color;
  transform: translateX(100%);

  transition: transform 0.25s ease;

  .burger.is-open & {
    transition: transform 0.25s ease 0.05s;
    transform: translateX(0);
  }
}

.burger-close-button {
  position: absolute;
  top: 24px;
  right: 28px;

  padding: 0;
  margin: 0;

  border: none;
  background-color: transparent;

  .burger-close-icon {
    transition: fill 0.3s ease;
    fill: $_dark_color;
  }

  &:hover .burger-close-icon,
  &:focus .burger-close-icon {
    fill: $_light_color;
  }
}

.burger-nav {
  width: 100%;
  height: 100%;
  min-height: 386px;
  display: flex;
  align-items: center;
  justify-content: center;

  overflow-y: auto;
}

.burger-nav-list {
  min-height: 386px;
  width: 158px;
  overflow-y: auto;
}

.burger-nav-link {
  display: block;
  padding: 10px 0;

  font-size: 28px;

  transition: color 0.3s ease;

  &:focus,
  &:active {
    color: $_light_color;
  }
  @media (hover: hover) {
    &:hover {
      color: $_light_color;
    }
  }
}
