.faq {
  padding: 24px 0;
}
.faq-title {
  font-weight: 400;
  font-size: 28px;
  text-align: center;
  color: #111;
  margin-bottom: 24px;
}
.faq-item {
  width: 288px;
  border-radius: 12px;
}
.faq-question {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
  width: 100%;
  padding: 10px 16px;
  font-family: inherit;
  font-weight: 400;
  font-size: 20px;
  text-align: left;
  color: #111;
  background-color: #fee469;
  border-radius: 12px;
  outline: none;
  border: 1px solid #111;
  cursor: pointer;
  transition: box-shadow 0.25s ease-out;
}

.faq-question:is(:hover, :focus) {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.accordion__active .faq-question {
  box-shadow: none;
}
.accordion__active.faq-item {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.faq-answer {
  width: 100%;
  margin-bottom: 12px;
  padding: 0 16px;
  font-size: 16px;
  color: #111;
  border: 1px solid #111;
  border-radius: 0 0 12px 12px;
  max-height: 0;
  overflow: hidden;
  will-change: max-height;
  transition: opacity 0.25s ease-out, max-height 0.25s ease-out;
  opacity: 0;
}
.faq-item:last-child .faq-answer {
  margin-bottom: 0;
}

.accordion__active .faq-question {
  border-radius: 12px 12px 0 0;
  border-bottom: none;
}

.accordion__active .faq-answer {
  padding: 10px 16px;
  opacity: 1;
}

/* icon */
.faq-icon {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  flex-shrink: 0;
}

.faq-icon:before,
.faq-icon:after {
  content: '';
  display: block;
  background-color: #111;
  position: absolute;
  top: 50%;
  left: 0;
  transition: 0.35s;
  width: 100%;
  height: 6px;
  border-radius: 12px;
}

.faq-icon:before {
  transform: translateY(-50%);
}

.faq-icon:after {
  transform: translateY(-50%) rotate(90deg);
}

.accordion__active .faq-icon:before {
  transform: translateY(-50%) rotate(-90deg);
  opacity: 0;
}

.accordion__active .faq-icon:after {
  transform: translateY(-50%) rotate(0);
}

@media screen and (min-width: 1440px) {
  .faq {
    padding: 60px 0;
  }

  .faq-title {
    font-size: 48px;
    margin-bottom: 48px;
  }
  .faq-item {
    margin: 0 auto;
    width: 856px;
  }
  .faq-question {
    font-size: 40px;
  }

  .faq-answer {
    font-size: 28px;
  }
  .faq-icon {
    width: 30px;
    height: 30px;
  }
}
