.hero {
  background-color: $_main_bg_color;

  .hero-container {
    padding-top: 96px;
    padding-bottom: 550px;

    background-image: url('../../img/hero/phone-mob@1x.png');
    background-repeat: no-repeat;
    background-position: bottom 53px left 50%;
    background-size: 236px 465px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../../img/hero/phone-mob@2x.png');
    }

    @include media(desktop) {
      padding-top: 156px;
      padding-bottom: 78px;

      background-image: url('../../img/hero/phone-desktop@1x.png');
      background-repeat: no-repeat;
      background-position: bottom 37.12px right 34px;
      background-size: 986.71px 768.03px;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../../img/hero/phone-desktoop@2x.png');
      }
    }
  }
}

.hero-title {
  font-size: 46px;
  line-height: 1.09;

  text-align: center;

  font-weight: 400;
  margin-bottom: 32px;

  span {
    font-family: Luckiest Guy;
    color: $_light_color;
  }

  @include media(desktop) {
    font-size: 96px;
    width: 590px;
    line-height: 1.02;
    text-align: start;
    margin-bottom: 48px;
    span {
      line-height: 1;
    }
  }
}

.hero-link {
  position: relative;
  display: block;
  width: 204px;
  height: 60px;

  margin: 0 auto;

  .hero-img {
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    transition: opacity 0.3s ease;
  }
  .dark {
    opacity: 1;
  }

  .light {
    opacity: 0;
  }

  &:hover .light,
  &:focus .light {
    opacity: 1;
  }

  &:hover .dark,
  &:focus .dark {
    opacity: 0;
  }

  @include media(desktop) {
    margin: 0;
  }
}
