.secondary-page-container {
  &.container {
    padding-top: 96px;
    padding-bottom: 32px;
  }
  @include media(desktop) {
    &.container {
      padding-top: 166px;
      padding-bottom: 80px;
    }
  }
}

.secondary-page-title {
  margin-bottom: 20px;

  color: $_accent_color;
  font-size: 28px;

  @include media(desktop) {
    margin-bottom: 42px;
    font-size: 48px;
  }
}

.secondary-page-main-title {
  margin-bottom: 24px;
  font-size: 40px;

  @include media(desktop) {
    font-size: 60px;
  }
}

.secondary-page-head-text {
  margin-bottom: 24px;

  @include media(desktop) {
    margin-bottom: 48px;
    font-size: 40px;
  }
}

.secondary-page-text {
  @include media(desktop) {
    font-size: 40px;
  }
}

.secondary-page-section:not(:last-child) {
  margin-bottom: 24px;

  @include media(desktop) {
    margin-bottom: 48px;
  }
}

.secondary-page-list {
  margin-top: 16px;
}

.secondary-page-item {
  span {
    color: $_accent_color;
  }
  @include media(desktop) {
    font-size: 40px;
  }
}

.secondary-page-item:not(:last-child) {
  margin-bottom: 16px;
  @include media(desktop) {
    margin-bottom: 24px;
  }
}
