<section id="benefits" class="benefits section">
  <div class="benefits__container container">
    <h2 class="benefits__title section__title">Benefits</h2>
    <ul class="benefits__list">
      <li class="benefits__item">
        <svg class="benefits__icon fill-icon" width="48" height="48">
          <use href="./img/sprite.svg#icon-star"></use>
        </svg>
        <p class="benefits__text">
          <span class="stat-number" data-target="4.8">0</span>
          +
        </p>
      </li>
      <li class="benefits__item">
        <svg class="benefits__icon fill-icon" width="48" height="48">
          <use href="./img/sprite.svg#icon-upload"></use>
        </svg>
        <p class="benefits__text">
          <span class="stat-number" data-target="50000">0</span>
          +
        </p>
      </li>
      <li class="benefits__item">
        <svg class="benefits__icon" width="48" height="48">
          <use href="./img/sprite.svg#icon-like"></use>
        </svg>
        <p class="benefits__text">
          <span class="stat-number" data-target="1000">0</span>
          +
        </p>
      </li>
      <li class="benefits__item">
        <svg class="benefits__icon fill-icon" width="48" height="48">
          <use href="./img/sprite.svg#icon-wifi"></use>
        </svg>
        <p class="benefits__text">Online/ Offline</p>
      </li>
    </ul>
  </div>
</section>
