<div class="burger js-burger">
  <div class="burger-wrapper">
    <button
      class="burger-close-button js-close-burger-button"
      type="button"
      aria-label="Close burger menu"
    >
      <svg class="burger-close-icon" width="36" height="36">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="burger-nav">
      <ul class="burger-nav-list js-burger-nav-list">
        <li class="burger-nav-item">
          <a href="#" class="burger-nav-link">Home</a>
        </li>
        <li class="burger-nav-item">
          <a href="#about" class="burger-nav-link">About the Game</a>
        </li>
        <li class="burger-nav-item">
          <a href="#description" class="burger-nav-link">How to Play</a>
        </li>
        <li class="burger-nav-item">
          <a href="#faq" class="burger-nav-link">FAQ</a>
        </li>
        <li class="burger-nav-item">
          <a href="#reviews" class="burger-nav-link">Reviews</a>
        </li>
        <li class="burger-nav-item">
          <a href="#gallery" class="burger-nav-link">Gallery</a>
        </li>
        <li class="burger-nav-item">
          <a href="#benefits" class="burger-nav-link">Benefits</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
