<section id="faq" class="faq section">
  <div class="container">
    <h2 class="faq-title" data-aos="zoom-in">FAQ</h2>
    <ul class="faq-list">
      <li class="faq-item accordion" data-aos="zoom-in">
        <button class="faq-question accordion__intro">
          How do I access hints?
          <span class="faq-icon"></span>
        </button>
        <p class="faq-answer accordion__content">
          Hints are available in the corner of the screen; tap to use one
        </p>
      </li>
      <li class="faq-item accordion" data-aos="zoom-in">
        <button class="faq-question accordion__intro">
          Can I skip levels?
          <span class="faq-icon"></span>
        </button>
        <p class="faq-answer accordion__content">
          Yes, if you're stuck, you can skip ahead and return later.
        </p>
      </li>
      <li class="faq-item accordion" data-aos="zoom-in">
        <button class="faq-question accordion__intro">
          Is there a daily challenge?
          <span class="faq-icon"></span>
        </button>
        <p class="faq-answer accordion__content">
          Yes, daily challenges are available to test your skills.
        </p>
      </li>
      <li class="faq-item accordion" data-aos="zoom-in">
        <button class="faq-question accordion__intro">
          Are there any in-app purchases?
          <span class="faq-icon"></span>
        </button>
        <p class="faq-answer accordion__content">
          Yes, there are options to purchase additional hints.
        </p>
      </li>
      <li class="faq-item accordion" data-aos="zoom-in">
        <button class="faq-question accordion__intro">
          What makes the Premium version different?
          <span class="faq-icon"></span>
        </button>
        <p class="faq-answer accordion__content">
          This version is ad-free with additional exclusive levels.
        </p>
      </li>
      <li class="faq-item accordion" data-aos="zoom-in">
        <button class="faq-question accordion__intro">
          Is it suitable for children?
          <span class="faq-icon"></span>
        </button>
        <p class="faq-answer accordion__content">
          Absolutely, it's great for developing critical thinking in kids.
        </p>
      </li>
    </ul>
  </div>
</section>
