<section class="gallery" id="gallery">
  <div class="container">
    <h2 class="gallery-title" data-aos="zoom-in">Gallery</h2>
    <div class="swiper gallery-swiper js-gallery-swiper">
      <ul class="swiper-wrapper gallery-swiper-wrapper">
        <li class="swiper-slide gallery-slider" role="group">
          <a href="images/gallery/photo1-desk@2x.webp" class="glightbox">
            <picture>
              <source
                srcset="
                  ./img/gallery/photo-mob1@1x.webp 1x,
                  ./img/gallery/photo-mob1@2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 1439.932px)"
              />
              <source
                srcset="
                  ./img/gallery/photo-mob1@1x.jpg 1x,
                  ./img/gallery/photo-mob1@2x.jpg 2x
                "
                type="image/jpg"
                media="(max-width: 1439.932px)"
              />
              <source
                srcset="
                  ./img/gallery/photo1-desk@1x.webp 1x,
                  ./img/gallery/photo1-desk@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/gallery/photo1-desk@1x.jpg 1x,
                  ./img/gallery/photo1-desk@2x.jpg 2x
                "
                type="image/jpg"
                media="(min-width: 1440px)"
              />
              <img
                class="gallery-image"
                src="./img/gallery/photo1-desk@1x.jpg"
                alt="gallery"
                width="644"
                height="340"
                loading="lazy"
              />
            </picture>
          </a>
        </li>
        <li class="swiper-slide gallery-slider" role="group">
          <a class="glightbox" href="images/gallery/photo2-desk@2x.webp">
            <picture>
              <source
                srcset="
                  ./img/gallery/photo-mob2@1x.webp 1x,
                  ./img/gallery/photo-mob2@2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 1439.932px)"
              />
              <source
                srcset="
                  ./img/gallery/photo-mob2@1x.jpg 1x,
                  ./img/gallery/photo-mob2@2x.jpg 2x
                "
                type="image/jpg"
                media="(max-width: 1439.932px)"
              />
              <source
                srcset="
                  ./img/gallery/photo2-desk@1x.webp 1x,
                  ./img/gallery/photo2-desk@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/gallery/photo2-desk@1x.jpg 1x,
                  ./img/gallery/photo2-desk@2x.jpg 2x
                "
                type="image/jpg"
                media="(min-width: 1440px)"
              />
              <img
                class="gallery-image"
                src="./img/gallery/photo2-desk@1x.jpg"
                alt="gallery"
                width="179"
                height="340"
                loading="lazy"
              />
            </picture>
          </a>
        </li>
        <li class="swiper-slide gallery-slider" role="group">
          <a class="glightbox" href="images/gallery/photo3-desk@2x.webp">
            <picture>
              <source
                srcset="
                  ./img/gallery/photo-mob3@1x.webp 1x,
                  ./img/gallery/photo-mob3@2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 1439.932px)"
              />
              <source
                srcset="
                  ./img/gallery/photo-mob3@1x.jpg 1x,
                  ./img/gallery/photo-mob3@2x.jpg 2x
                "
                type="image/jpg"
                media="(max-width: 1439.932px)"
              />
              <source
                srcset="
                  ./img/gallery/photo3-desk@1x.webp 1x,
                  ./img/gallery/photo3-desk@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/gallery/photo3-desk@1x.jpg 1x,
                  ./img/gallery/photo3-desk@2x.jpg 2x
                "
                type="image/jpg"
                media="(min-width: 1440px)"
              />
              <img
                class="gallery-image"
                src="./img/gallery/photo3-desk@1x.jpg"
                alt="gallery"
                width="169"
                height="340"
                loading="lazy"
              />
            </picture>
          </a>
        </li>
        <li class="swiper-slide gallery-slider" role="group">
          <a class="glightbox" href="images/gallery/photo4-desk@2x.webp">
            <picture>
              <source
                srcset="
                  ./img/gallery/photo-mob4@1x.webp 1x,
                  ./img/gallery/photo-mob4@2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 1439.932px)"
              />
              <source
                srcset="
                  ./img/gallery/photo-mob4@1x.jpg 1x,
                  ./img/gallery/photo-mob4@2x.jpg 2x
                "
                type="image/jpg"
                media="(max-width: 1439.932px)"
              />
              <source
                srcset="
                  ./img/gallery/photo4-desk@1x.webp 1x,
                  ./img/gallery/photo4-desk@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/gallery/photo4-desk@1x.jpg 1x,
                  ./img/gallery/photo4-desk@2x.jpg 2x
                "
                type="image/jpg"
                media="(min-width: 1440px)"
              />
              <img
                class="gallery-image"
                src="./img/gallery/photo4-desk@1x.jpg"
                alt="gallery"
                width="173"
                height="340"
                loading="lazy"
              />
            </picture>
          </a>
        </li>
        <li class="swiper-slide gallery-slider" role="group">
          <a class="glightbox" href="images/gallery/photo5-desk@2x.webp">
            <picture>
              <source
                srcset="
                  ./img/gallery/photo-mob5@1x.webp 1x,
                  ./img/gallery/photo-mob5@2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 1439.932px)"
              />
              <source
                srcset="
                  ./img/gallery/photo-mob5@1x.jpg 1x,
                  ./img/gallery/photo-mob5@2x.jpg 2x
                "
                type="image/jpg"
                media="(max-width: 1439.932px)"
              />
              <source
                srcset="
                  ./img/gallery/photo5-desk@1x.webp 1x,
                  ./img/gallery/photo5-desk@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/gallery/photo5-desk@1x.jpg 1x,
                  ./img/gallery/photo5-desk@2x.jpg 2x
                "
                type="image/jpg"
                media="(min-width: 1440px)"
              />
              <img
                class="gallery-image"
                src="./img/gallery/photo5-desk@1x.jpg"
                alt="gallery"
                width="173"
                height="340"
                loading="lazy"
              />
            </picture>
          </a>
        </li>
        <li class="swiper-slide gallery-slider" role="group">
          <a class="glightbox" href="images/gallery/photo6-desk@2x.webp">
            <picture>
              <source
                srcset="
                  ./img/gallery/photo-mob6@1x.webp 1x,
                  ./img/gallery/photo-mob6@2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 1439.932px)"
              />
              <source
                srcset="
                  ./img/gallery/photo-mob6@1x.jpg 1x,
                  ./img/gallery/photo-mob6@2x.jpg 2x
                "
                type="image/jpg"
                media="(max-width: 1439.932px)"
              />
              <source
                srcset="
                  ./img/gallery/photo6-desk@1x.webp 1x,
                  ./img/gallery/photo6-desk@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/gallery/photo6-desk@1x.jpg 1x,
                  ./img/gallery/photo6-desk@2x.jpg 2x
                "
                type="image/jpg"
                media="(min-width: 1440px)"
              />
              <img
                class="gallery-image"
                src="./img/gallery/photo6-desk@1x.jpg"
                alt="gallery"
                width="173"
                height="340"
                loading="lazy"
              />
            </picture>
          </a>
        </li>
        <li class="swiper-slide gallery-slider" role="group">
          <a class="glightbox" href="images/gallery/photo7-desk@2x.webp">
            <picture>
              <source
                srcset="
                  ./img/gallery/photo-mob7@1x.webp 1x,
                  ./img/gallery/photo-mob7@2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 1439.932px)"
              />
              <source
                srcset="
                  ./img/gallery/photo-mob7@1x.jpg 1x,
                  ./img/gallery/photo-mob7@2x.jpg 2x
                "
                type="image/jpg"
                media="(max-width: 1439.932px)"
              />
              <source
                srcset="
                  ./img/gallery/photo7-desk@1x.webp 1x,
                  ./img/gallery/photo7-desk@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/gallery/photo7-desk@1x.jpg 1x,
                  ./img/gallery/photo7-desk@2x.jpg 2x
                "
                type="image/jpg"
                media="(min-width: 1440px)"
              />
              <img
                class="gallery-image"
                src="./img/gallery/photo7-desk@1x.jpg"
                alt="gallery"
                width="176"
                height="340"
                loading="lazy"
              />
            </picture>
          </a>
        </li>
        <li class="swiper-slide gallery-slider" role="group">
          <a class="glightbox" href="images/gallery/photo8-desk@2x.webp">
            <picture>
              <source
                srcset="
                  ./img/gallery/photo-mob8@1x.webp 1x,
                  ./img/gallery/photo-mob8@2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 1439.932px)"
              />
              <source
                srcset="
                  ./img/gallery/photo-mob8@1x.jpg 1x,
                  ./img/gallery/photo-mob8@2x.jpg 2x
                "
                type="image/jpg"
                media="(max-width: 1439.932px)"
              />
              <source
                srcset="
                  ./img/gallery/photo8-desk@1x.webp 1x,
                  ./img/gallery/photo8-desk@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/gallery/photo8-desk@1x.jpg 1x,
                  ./img/gallery/photo8-desk@2x.jpg 2x
                "
                type="image/jpg"
                media="(min-width: 1440px)"
              />
              <img
                class="gallery-image"
                src="./img/gallery/photo8-desk@1x.jpg"
                alt="gallery"
                width="644"
                height="340"
                loading="lazy"
              />
            </picture>
          </a>
        </li>
      </ul>
      <div class="gallery-pagination-container">
        <button
          aria-label="Previous slide"
          class="gallery-btn-prew gallery-pagination-button"
        >
          <svg class="swiper-btn-icon" width="16" height="16">
            <use href="./img/sprite.svg#icon-arrow-pagination"></use>
          </svg>
        </button>

        <div class="gallery-pagination"></div>
        <button
          aria-label="Next slide"
          class="gallery-btn-next next gallery-pagination-button"
        >
          <svg class="swiper-btn-icon" width="16" height="16">
            <use href="./img/sprite.svg#icon-arrow-pagination"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
