<header class="header js-header">
  <div class="header-container container">
    <a href="/brainTest" class="header-logo">
      <img
        class="header-icon"
        src="./img/logo.svg"
        alt="Logo"
        width="48"
        height="48"
      />
      <span>Brain Test Premium</span>
    </a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="/brainTest/#" class="header-nav-link">Home</a>
        </li>
        <li class="header-nav-item">
          <a href="/brainTest/#about" class="header-nav-link">About the Game</a>
        </li>
        <li class="header-nav-item">
          <a href="/brainTest/#description" class="header-nav-link"
            >How to Play</a
          >
        </li>
        <li class="header-nav-item">
          <a href="/brainTest/#faq" class="header-nav-link">FAQ</a>
        </li>
        <li class="header-nav-item">
          <a href="#reviews" class="header-nav-link">Reviews</a>
        </li>
        <li class="header-nav-item">
          <a href="/brainTest/#gallery" class="header-nav-link">Gallery</a>
        </li>
        <li class="header-nav-item">
          <a href="/brainTest/#benefits" class="header-nav-link">Benefits</a>
        </li>
      </ul>
    </nav>
    <button
      class="header-burger-button js-open-burger-button"
      type="button"
      aria-label="Open burger menu"
    >
      <svg class="header-burger-icon" width="48" height="48">
        <use href="./img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
