<section class="hero">
  <div class="hero-container-parallax container">
    <h1 class="hero-title text-pop-up-black">
      Unlock Your Brain&apos;s Potential with<br />
      <span class="game-name">Brain Test Premium</span>
    </h1>
    <a
      class="hero-link"
      href="https://play.google.com/store/apps/details?id=com.unicostudio.braintestpremium"
      target="_blank"
    >
      <img
        class="hero-img dark"
        src="./img/hero/google-dark.svg"
        alt="Google play"
        width="204"
        height="60"
      />
      <img
        class="hero-img light"
        src="./img/hero/google-light.svg"
        alt="Google play"
        width="204"
        height="60"
      />
    </a>
    <img
      class="hero-robot hero-element"
      src="./img/hero/icons/robot.webp"
      alt=""
      width="103"
      height="174"
    />
    <img
      class="hero-arrow-white hero-element"
      src="../img/hero/icons/arrowwhite.webp"
      alt=""
      width="101"
      height="100"
    />
    <img
      class="hero-a hero-element"
      src="./img/hero/icons/a@1x.webp"
      alt="a+"
      width="60"
      height="65"
    />
    <img
      class="arrow-black hero-element"
      src="./img/hero/icons/arrow-black.webp"
      alt="arrow black"
      width="125"
      height="37"
    />
    <img
      class="arrow-red hero-element"
      src="./img/hero/icons/arrowred.webp"
      alt=""
    />
    <img
      class="hero-phone"
      src="./img/hero/icons/phone-desktop@1x.webp"
      alt=""
      width="312"
      height="620"
    />
    <img
      class="hero-atom hero-element"
      src="./img/hero/icons/atom.webp"
      alt=""
      width="113"
      height="118"
    />
    <img
      class="hero-cat hero-element"
      src="./img/hero/icons/cat.webp"
      alt=""
      width="109"
      height="109"
    />
    <img
      class="hero-gear-white hero-element"
      src="../img/hero/icons/gear-white.webp"
      alt=""
      width="128"
      height="129"
    />
    <img
      class="hero-gear-red hero-element"
      src="../img/hero/icons/gearred.webp"
      alt=""
      width="75"
      height="75"
    />
    <img
      class="hero-h2o hero-element"
      src="../img/hero/icons/h2o.webp"
      alt=""
      width="77"
      height="118"
    />
    <img
      class="hero-korona hero-element"
      src="../img/hero/icons/korona.webp"
      alt=""
      width="119"
      height="96"
    />
    <img
      class="hero-xo hero-element"
      src="../img/hero/icons/xo.webp"
      alt=""
      width="138"
      height="130"
    />
  </div>
</section>
