<section class="hero">
  <div class="hero-container container">
    <h1 class="hero-title">
      Unlock Your Brain’s Potential with <span>Brain Test Premium</span>
    </h1>
    <a
      class="hero-link"
      href="https://play.google.com/store/apps/details?id=com.unicostudio.braintestpremium"
      target="_blank"
    >
      <img
        class="hero-img dark"
        src="./img/hero/google-dark.svg"
        alt="Google play"
        width="204"
        height="60"
      />
      <img
        class="hero-img light"
        src="./img/hero/google-light.svg"
        alt="Google play"
        width="204"
        height="60"
      />
    </a>
  </div>
</section>
