<h1 class="secondary-page-main-title secondary-page-title">Privacy policy</h1>
<p class="secondary-page-head-text">
  This privacy policy will explain how our organization uses the personal data
  we collect from you when you use our website. This privacy policy will explain
  how our organization uses the personal data we collect from you when you use
  our website.
  <br />
  <br />
  Greatjoyhub.com is a free online gaming platform where the gamer can play and
  win without any risks. It is a simple portal to access social games for free
  and play with your friends. Remember that winning at these games does not mean
  you will have any future winnings. It is crucial that you remember this since
  your luck will differ depending on many factors. Have fun and Play as much as
  you like.
</p>
<section class="secondary-page-section">
  <h2 class="secondary-page-second-title secondary-page-title">Marketing</h2>
  <p class="secondary-page-text">
    You have the right at any time to stop Greatjoyhub.com contacting you for
    marketing purposes.
    <br />
    <br />
    Greatjoyhub.com would like to send you information about products and
    services of ours that we think you might like, as well as those of our
    partner companies.
    <br />
    <br />
    If you have agreed to receive marketing, you may always opt out at a later
    date.
    <br />
    <br />
    If you no longer wish to be contacted for marketing purposes, please contact
    us.
  </p>
</section>

<section class="secondary-page-section">
  <h2 class="secondary-page-second-title secondary-page-title">
    What are your data protection rights?
  </h2>
  <p class="secondary-page-text">
    Greatjoyhub.com would like to make sure you are fully aware of all of your
    data protection rights. Every user is entitled to the following:
  </p>
  <ul class="secondary-page-list">
    <li class="secondary-page-item">
      <span>The right to access</span> – You have the right to request
      Greatjoyhub.com for copies of your personal data.
    </li>
    <li class="secondary-page-item">
      <span>The right to rectification</span> – You have the right to request
      that Greatjoyhub.com correct any information you believe is inaccurate.
      You also have the right to request us to complete the information you
      believe is incomplete.
    </li>
    <li class="secondary-page-item">
      <span>The right to erasure</span> – You have the right to request that
      Greatjoyhub.com erase your personal data, under certain conditions.
    </li>
    <li class="secondary-page-item">
      <span>The right to restrict processing</span> – You have the right to
      request that Greatjoyhub.com restrict the processing of your personal
      data, under certain conditions.
    </li>
    <li class="secondary-page-item">
      <span>The right to object to processing</span> – You have the right to
      object to Beststartjoy.com processing of your personal data, under certain
      conditions.
    </li>
    <li class="secondary-page-item">
      <span>The right to data portability</span> – You have the right to request
      that Beststartjoy.com transfer the data that we have collected to another
      organization, or directly to you, under certain conditions.
    </li>
  </ul>
</section>
<section class="secondary-page-section">
  <h2 class="secondary-page-second-title secondary-page-title">
    Changes to our privacy policy
  </h2>
  <p class="secondary-page-text">
    Greatjoyhub.com keeps its privacy policy under regular review and places any
    updates on this web page.
  </p>
</section>
