<section id="reviews" class="reviews">
  <h2 class="title">Reviews</h2>
  <ul class="reviews-list">
    <li class="reviews-item">
      <div class="reviews-quote">
        <img class="reviews-quote-img" src="" alt="" width="60" height="60" />
        <p class="reviews-quote-text">
          "Brilliant puzzles that really make you scratch your head!"
        </p>
      </div>
      <div class="reviews-author">
        <img
          class="reviews-avatar"
          src="/avatar.png"
          alt="avatar"
          width="60"
          height="60"
        />
        <p class="reviews-text">Thinker Tom</p>
      </div>
    </li>
  </ul>
</section>

<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
