<section id="reviews" class="reviews section">
  <div class="container">
    <h2 class="reviews-title section__title" data-aos="zoom-in">Reviews</h2>
    <div class="swiper reviews-swiper js-reviews-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide reviews-swiper-slide">
          <div class="reviews-quote">
            <svg class="reviews-quote-icon" width="60" height="60">
              <use href="./img/sprite.svg#icon-qoute"></use>
            </svg>
            <p class="reviews-quote-text">
              "Brilliant puzzles that really make you scratch your head!"
            </p>
          </div>
          <div class="reviews-author">
            <picture>
              <source
                srcset="
                  ./img/reviews/avatar1.webp    1x,
                  ./img/reviews/avatar1@2x.webp 2x
                "
                type="image/webp"
              />
              <img
                class="reviews-avatar"
                src="./img/reviews/avatar1.png"
                srcset="
                  ./img/reviews/avatar1.png    1x,
                  ./img/reviews/avatar1@2x.png 2x
                "
                alt="avatar"
                width="60"
                height="60"
                loading="lazy"
              />
            </picture>
            <p class="reviews-text">ThinkerTom</p>
          </div>
        </div>

        <div class="swiper-slide reviews-swiper-slide">
          <div class="reviews-quote">
            <svg class="reviews-quote-icon" width="60" height="60">
              <use href="./img/sprite.svg#icon-qoute"></use>
            </svg>
            <p class="reviews-quote-text">
              "Keeps my mind sharp and the premium version is worth every penny
              without ads."
            </p>
          </div>
          <div class="reviews-author">
            <picture>
              <source
                srcset="
                  ./img/reviews/avatar2.webp    1x,
                  ./img/reviews/avatar2@2x.webp 2x
                "
                type="image/webp"
              />
              <img
                class="reviews-avatar"
                src="./img/reviews/avatar2.png"
                srcset="
                  ./img/reviews/avatar2.png    1x,
                  ./img/reviews/avatar2@2x.png 2x
                "
                alt="avatar"
                width="60"
                height="60"
                loading="lazy"
              />
            </picture>
            <p class="reviews-text">PuzzleLoverLinda</p>
          </div>
        </div>

        <div class="swiper-slide reviews-swiper-slide">
          <div class="reviews-quote">
            <svg class="reviews-quote-icon" width="60" height="60">
              <use href="./img/sprite.svg#icon-qoute"></use>
            </svg>
            <p class="reviews-quote-text">
              "Some of the best brain teasers out there. Perfect for puzzle
              enthusiasts!"
            </p>
          </div>
          <div class="reviews-author">
            <picture>
              <source
                srcset="
                  ./img/reviews/avatar3.webp    1x,
                  ./img/reviews/avatar3@2x.webp 2x
                "
                type="image/webp"
              />
              <img
                class="reviews-avatar"
                src="./img/reviews/avatar3.png"
                srcset="
                  ./img/reviews/avatar3.png    1x,
                  ./img/reviews/avatar3@2x.png 2x
                "
                alt="avatar"
                width="60"
                height="60"
                loading="lazy"
              />
            </picture>
            <p class="reviews-text">CreativeChris</p>
          </div>
        </div>

        <div class="swiper-slide reviews-swiper-slide">
          <div class="reviews-quote">
            <svg class="reviews-quote-icon" width="60" height="60">
              <use href="./img/sprite.svg#icon-qoute"></use>
            </svg>
            <p class="reviews-quote-text">
              "Great for family game night; we all gather to solve the levels."
            </p>
          </div>
          <div class="reviews-author">
            <picture>
              <source
                srcset="
                  ./img/reviews/avatar4.webp    1x,
                  ./img/reviews/avatar4@2x.webp 2x
                "
                type="image/webp"
              />
              <img
                class="reviews-avatar"
                src="./img/reviews/avatar4.png"
                srcset="
                  ./img/reviews/avatar4.png    1x,
                  ./img/reviews/avatar4@2x.png 2x
                "
                alt="avatar"
                width="60"
                height="60"
                loading="lazy"
              />
            </picture>
            <p class="reviews-text">SmartSally</p>
          </div>
        </div>

        <div class="swiper-slide reviews-swiper-slide">
          <div class="reviews-quote">
            <svg class="reviews-quote-icon" width="60" height="60">
              <use href="./img/sprite.svg#icon-qoute"></use>
            </svg>
            <p class="reviews-quote-text">
              "I love the quirky questions and the clean, cheerful graphics."
            </p>
          </div>
          <div class="reviews-author">
            <picture>
              <source
                srcset="
                  ./img/reviews/avatar2.webp    1x,
                  ./img/reviews/avatar2@2x.webp 2x
                "
                type="image/webp"
              />
              <img
                class="reviews-avatar"
                src="./img/reviews/avatar2.png"
                srcset="
                  ./img/reviews/avatar2.png    1x,
                  ./img/reviews/avatar2@2x.png 2x
                "
                alt="avatar"
                width="60"
                height="60"
                loading="lazy"
              />
            </picture>
            <p class="reviews-text">BrainyBecky</p>
          </div>
        </div>

        <div class="swiper-slide reviews-swiper-slide">
          <div class="reviews-quote">
            <svg class="reviews-quote-icon" width="60" height="60">
              <use href="./img/sprite.svg#icon-qoute"></use>
            </svg>
            <p class="reviews-quote-text">
              "Challenging yet fun, it&apos;s not just for kids but adults too!"
            </p>
          </div>
          <div class="reviews-author">
            <picture>
              <source
                srcset="
                  ./img/reviews/avatar1.webp    1x,
                  ./img/reviews/avatar1@2x.webp 2x
                "
                type="image/webp"
              />
              <img
                class="reviews-avatar"
                src="./img/reviews/avatar1.png"
                srcset="
                  ./img/reviews/avatar1.png    1x,
                  ./img/reviews/avatar1@2x.png 2x
                "
                alt="avatar"
                width="60"
                height="60"
                loading="lazy"
              />
            </picture>
            <p class="reviews-text">LogicLarry</p>
          </div>
        </div>

        <div class="swiper-slide reviews-swiper-slide">
          <div class="reviews-quote">
            <svg class="reviews-quote-icon" width="60" height="60">
              <use href="./img/sprite.svg#icon-qoute"></use>
            </svg>
            <p class="reviews-quote-text">
              "Never repetitive, always exciting! I look forward to the daily
              challenges."
            </p>
          </div>
          <div class="reviews-author">
            <picture>
              <source
                srcset="
                  ./img/reviews/avatar4.webp    1x,
                  ./img/reviews/avatar4@2x.webp 2x
                "
                type="image/webp"
              />
              <img
                class="reviews-avatar"
                src="./img/reviews/avatar4.png"
                srcset="
                  ./img/reviews/avatar4.png    1x,
                  ./img/reviews/avatar4@2x.png 2x
                "
                alt="avatar"
                width="60"
                height="60"
                loading="lazy"
              />
            </picture>
            <p class="reviews-text">CleverCathy</p>
          </div>
        </div>

        <div class="swiper-slide reviews-swiper-slide">
          <div class="reviews-quote">
            <svg class="reviews-quote-icon" width="60" height="60">
              <use href="./img/sprite.svg#icon-qoute"></use>
            </svg>
            <p class="reviews-quote-text">
              "It's like an exercise gym for your brain."
            </p>
          </div>
          <div class="reviews-author">
            <picture>
              <source
                srcset="
                  ./img/reviews/avatar3.webp    1x,
                  ./img/reviews/avatar3@2x.webp 2x
                "
                type="image/webp"
              />
              <img
                class="reviews-avatar"
                src="./img/reviews/avatar3.png"
                srcset="
                  ./img/reviews/avatar3.png    1x,
                  ./img/reviews/avatar3@2x.png 2x
                "
                alt="avatar"
                width="60"
                height="60"
                loading="lazy"
              />
            </picture>
            <p class="reviews-text">MysteryMike</p>
          </div>
        </div>

        <div class="swiper-slide reviews-swiper-slide">
          <div class="reviews-quote">
            <svg class="reviews-quote-icon" width="60" height="60">
              <use href="./img/sprite.svg#icon-qoute"></use>
            </svg>
            <p class="reviews-quote-text">
              "The lack of ads in the premium version makes gameplay so much
              smoother."
            </p>
          </div>
          <div class="reviews-author">
            <picture>
              <source
                srcset="
                  ./img/reviews/avatar1.webp    1x,
                  ./img/reviews/avatar1@2x.webp 2x
                "
                type="image/webp"
              />
              <img
                class="reviews-avatar"
                src="./img/reviews/avatar1.png"
                srcset="
                  ./img/reviews/avatar1.png    1x,
                  ./img/reviews/avatar1@2x.png 2x
                "
                alt="avatar"
                width="60"
                height="60"
                loading="lazy"
              />
            </picture>
            <p class="reviews-text">IntellectualIvy</p>
          </div>
        </div>

        <div class="swiper-slide reviews-swiper-slide">
          <div class="reviews-quote">
            <svg class="reviews-quote-icon" width="60" height="60">
              <use href="./img/sprite.svg#icon-qoute"></use>
            </svg>
            <p class="reviews-quote-text">
              "Excellent for improving problem-solving skills."
            </p>
          </div>
          <div class="reviews-author">
            <picture>
              <source
                srcset="
                  ./img/reviews/avatar3.webp    1x,
                  ./img/reviews/avatar3@2x.webp 2x
                "
                type="image/webp"
              />
              <img
                class="reviews-avatar"
                src="./img/reviews/avatar3.png"
                srcset="
                  ./img/reviews/avatar3.png    1x,
                  ./img/reviews/avatar3@2x.png 2x
                "
                alt="avatar"
                width="60"
                height="60"
                loading="lazy"
              />
            </picture>
            <p class="reviews-text">PuzzledPete</p>
          </div>
        </div>

        <div class="swiper-slide reviews-swiper-slide">
          <div class="reviews-quote">
            <svg class="reviews-quote-icon" width="60" height="60">
              <use href="./img/sprite.svg#icon-qoute"></use>
            </svg>
            <p class="reviews-quote-text">
              "I got it for my kids, but I'm hooked too!"
            </p>
          </div>
          <div class="reviews-author">
            <picture>
              <source
                srcset="
                  ./img/reviews/avatar4.webp    1x,
                  ./img/reviews/avatar4@2x.webp 2x
                "
                type="image/webp"
              />
              <img
                class="reviews-avatar"
                src="./img/reviews/avatar4.png"
                srcset="
                  ./img/reviews/avatar4.png    1x,
                  ./img/reviews/avatar4@2x.png 2x
                "
                alt="avatar"
                width="60"
                height="60"
                loading="lazy"
              />
            </picture>
            <p class="reviews-text">WittyWendy</p>
          </div>
        </div>

        <div class="swiper-slide reviews-swiper-slide">
          <div class="reviews-quote">
            <svg class="reviews-quote-icon" width="60" height="60">
              <use href="./img/sprite.svg#icon-qoute"></use>
            </svg>
            <p class="reviews-quote-text">
              "The solutions are so creative, they never cease to amaze me."
            </p>
          </div>
          <div class="reviews-author">
            <picture>
              <source
                srcset="
                  ./img/reviews/avatar3.webp    1x,
                  ./img/reviews/avatar3@2x.webp 2x
                "
                type="image/webp"
              />
              <img
                class="reviews-avatar"
                src="./img/reviews/avatar3.png"
                srcset="
                  ./img/reviews/avatar3.png    1x,
                  ./img/reviews/avatar3@2x.png 2x
                "
                alt="avatar"
                width="60"
                height="60"
                loading="lazy"
              />
            </picture>
            <p class="reviews-text">GeniusGeorge</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
