<section id="reviews" class="reviews">
  <div class="container">
<div class="reviews-title">
      <h2 class="title">Reviews</h2>
    <svg class="reviews-title-icon">
    <use href="./img/sprite.svg#icon-reviews"></use>
    </svg>
</div>
    <div class="swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <div class="reviews-quote">
            <svg class="reviews-quote-icon" width="60" height="60">
              <use href="./img/sprite.svg#icon-qoute"></use>
            </svg>
            <p class="reviews-quote-text">
              "Brilliant puzzles that really make you scratch your head!"
            </p>
          </div>
          <div class="reviews-author">
            <img
              class="reviews-avatar"
              src="../img/reviews/avatar1.png"
              srcset="
                ../img/reviews/avatar1.png    1x,
                ../img/reviews/avatar1@2x.png 2x
              "
              alt="avatar"
              width="60"
              height="60"
            />
            <p class="reviews-text">ThinkerTom</p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="reviews-quote">
            <svg class="reviews-quote-icon" width="60" height="60">
              <use href="./img/sprite.svg#icon-qoute"></use>
            </svg>
            <p class="reviews-quote-text">
             "Keeps my mind sharp and the premium version is worth every penny without ads."
            </p>
          </div>
          <div class="reviews-author">
            <img
              class="reviews-avatar"
              src="../img/reviews/avatar2.png"
              srcset="
                ../img/reviews/avatar2.png    1x,
                ../img/reviews/avatar2@2x.png 2x
              "
              alt="avatar"
              width="60"
              height="60"
            />
            <p class="reviews-text">PuzzleLoverLinda</p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="reviews-quote">
            <svg class="reviews-quote-icon" width="60" height="60">
              <use href="./img/sprite.svg#icon-qoute"></use>
            </svg>
            <p class="reviews-quote-text">
              "Some of the best brain teasers out there. Perfect for puzzle enthusiasts!"
            </p>
          </div>
          <div class="reviews-author">
            <img
              class="reviews-avatar"
              src="../img/reviews/avatar3.png"
              srcset="
                ../img/reviews/avatar3.png    1x,
                ../img/reviews/avatar3@2x.png 2x
              "
              alt="avatar"
              width="60"
              height="60"
            />
            <p class="reviews-text">CreativeChris</p>
          </div>
        </li>
                <li class="swiper-slide">
          <div class="reviews-quote">
            <svg class="reviews-quote-icon" width="60" height="60">
              <use href="./img/sprite.svg#icon-qoute"></use>
            </svg>
            <p class="reviews-quote-text">
              "Great for family game night; we all gather to solve the levels." </p>
          </div>
          <div class="reviews-author">
            <img
              class="reviews-avatar"
              src="../img/reviews/avatar4.png"
              srcset="
                ../img/reviews/avatar4.png    1x,
                ../img/reviews/avatar4@2x.png 2x
              "
              alt="avatar"
              width="60"
              height="60"
            />
            <p class="reviews-text">SmartSally</p>
          </div>
        </li>
      </ul>
        <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
    </div>
  </div>
</section>
</div>
