<section class="warning">
  <div class="container warning-container">
    <h2 class="warning-title visually-hidden">Disclaimer</h2>
    <svg class="warning-icon" width="34" height="34">
      <use href="./img/sprite.svg#icon-warning"></use>
    </svg>
    <p class="warning-text">
      BESTSTARTJOY.COM IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF WINNING
      PLAYING THIS GAME CANNOT BE CONSIDERED THE SAME AS WINNING IN REAL LIFE
      GAMES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY
      PLAYING THIS GAME!
    </p>
  </div>
</section>
