@font-face {
  font-display: swap;
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/patrick-hand-v23-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Luckiest Guy';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/luckiest-guy-v22-latin-regular.woff2') format('woff2');
}
