@import './header.scss';
@import './hero.scss';
@import './warning.scss';
@import './about.scss';
@import './description.scss';
@import './faq.scss';
@import './reviews.scss';
@import './gallery.scss';
@import './benefits.scss';
@import './footer.scss';

:root {
  font-family: Patrick Hand, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;

  color: #111111;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
