@import './components/header.scss';
@import './components/hero.scss';
@import './components/warning.scss';
@import './components/about.scss';
@import './components/description.scss';
@import './components/faq.scss';
@import './components/reviews.scss';
@import './components/gallery.scss';
@import './components/benefits.scss';
@import './components/footer.scss';
@import './components/burger.scss';
@import './components/policy.scss';

:root {
  @include font(20, 24);

  font-family: Patrick Hand, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color: #111111;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 16px;

  @include media(desktop) {
    width: 1440px;
    padding: 0 72px;
  }
}

html {
  scroll-behavior: smooth;
}

.page-policy {
  background-color: $_main_bg_color;
  min-height: 100vh;
}
